<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/employee-signup.css">
        <script src="../javascript/employee-signup.js"></script>
        <title>Trackgenix by RadiumRocket</title>
</head>
<body>
    <div class="header-container">
        <img src="../img/logo.png" alt="trackgenix_logo" class="logo-mobile">
        <img src="../img/logoTablet.png" alt="trackgenix_logo" class="logo-tablet">
        <section class="redes-header">
            <img src="../img/twitterHeader.png" height="20" alt="twitter" class="img-redes">
            <img src="../img/instagramHeader.png" height="20" alt="instagram" class="img-redes">
            <img src="../img/linkedinHeader.png" height="20" alt="linkedin" class="img-redes">
            <img src="../img/facebookHeader.png" height="20" alt="facebook" class="img-redes">
        </section>
    </div>
    </div>
    </header>
    <div class="main-aside-section">
        <aside class="sidebar">
            <article>
                <h3>Menu</h3>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./employee-signup.html">Sign up</a></li>
                    <li><a href="./login.html">Sign in</a></li>
                    <li><a href="">About us</a></li>
                </ul>
            </article>
            <article>
                <h3>Get in touch</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. 
                    Ut enim ad minim venisam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat</p>
                <address>
                    <a href="tel:(000) 000-0000">&#128222; (000) 000-0000</a>         
                    <a href="mailto:#">&#128231; information@untitled.tld</a>
                    <p>&#127968; 1234 Somewhere Road #8254, Nashville, TN 00000-0000</p>
                </address>
            </article>
        </aside>
        <main>
            <section class="form-main">
                <div class="form-content">
                    <div class="box">
                        <h3>Sign Up</h3>
                        <form action="" class="employee">
                            <div class="left">
                                <div class="input-box employee-div">
                                    <label for="name">Name</label>
                                    <input type="text" class="input-control" id="name">
                                    <div id="error-msg-name" class="validation-msg"></div>
                                </div>
                                <div class="input-box employee-div">
                                    <label for="city">City</label>
                                    <input type="text" class="input-control" id="city">
                                    <div id="error-msg-city" class="validation-msg"></div>
                                </div>
                                <div class="input-box employee-div">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="input-control" id="dni">
                                    <div id="error-msg-dni" class="validation-msg"></div>
                                </div>
                                <div class="input-box employee-div">
                                    <label for="birth-dale">Date of Birth</label>
                                    <input type="date" class="input-control" id="date">
                                    <div id="error-msg-date" class="validation-msg"></div>
                                </div>
                                <div class="input-box employee-div">
                                    <label for="email">Email</label>
                                    <input type="text" class="input-control" id="mail">
                                    <div id="error-msg-mail" class="validation-msg"></div>
                                </div>
                                <div class="input-box employee-div">
                                    <label for="repeat-password">Repeat Password</label>
                                    <input type="password" class="input-control" id="repeat-pass">
                                    <div id="error-msg-rpass" class="validation-msg"></div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="input-box employee-div">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" class="input-control" id="last-name">
                                    <div id="error-msg-lname" class="validation-msg"></div>
                                </div>
                                <div class="input-box employee-div">
                                    <label for="postal-code">Postal Code</label>
                                    <input type="text" class="input-control" id="postal-code">
                                    <div id="error-msg-postal" class="validation-msg"></div>
                                </div>
                                <div class="input-box employee-div">
                                    <label for="phone">Phone</label>
                                    <input type="text" class="input-control" id="phone">
                                    <div id="error-msg-phone" class="validation-msg"></div>
                                </div>
                                <div class="input-box employee-div">
                                    <label for="adress">Adress</label>
                                    <input type="text" class="input-control" id="adress">
                                    <div id="error-msg-adress" class="validation-msg"></div>                                  
                                </div>
                                <div class="input-box employee-div">
                                    <label for="password">Password</label>
                                    <input type="password" class="input-control" id="pass">
                                    <div id="error-msg-pass" class="validation-msg"></div>
                                </div> 
                            </div>                  
                        </form>
                        <input type="checkbox" id="remember" name="remember" value="">
                        <label for="remember"> Remember</label>
                        <button type="submit" class="btn" id="submitBtn">Create</button>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer>
        <div>
            <img src="../img/twitter.png" height="30" alt="twitter">
            <img src="../img/instagram.png" height="30" alt="instagram">
            <img src="../img/linkedin.png" height="30" alt="linkedin">
            <img src="../img/facebook.png" height="30" alt="facebook">
        </div>
        <p>Rosario, Argentina</p>
        <p>Copyright © 2022 Radium Rocket. All rights reserved.</p>
    </footer>
</body>
</html>