.form-content a {
    text-decoration: underline;
    color: #373867;
}

.form-main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.form-content .box {
    border: 1px solid #ccc;
    box-shadow: 7px 7px 15px black;
    padding: 40px 50px;
    border-radius: 20px;

}

.form-content h3 {
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: #373867;
    font-weight: 500;
}

.form-content form {
    margin: 25px 0px 20px;
}

.form-content .input-box {
    margin: 25px;
}

.form-content ::placeholder {
    color: inherit;
    opacity: 1;
}

.form-content .input-control {
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #373867;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}

.form-content .input-control:focus {
    outline: none;
}

.form-content .input-link {
    margin-top: 10px;
    text-align: right;
}

.form-content .btn {
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    color: #373867;
    background: #AACE9B;
    position: relative;
    overflow: hidden;
}

.form-content .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5 ease;
    z-index: -1;
}

.employee {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
}

.form-content .error {
    border-bottom: 2px solid red;
}
