html {
    height: auto;
    min-height: 100%;
  }

* {
    color: #373867;
}


/* HEADER */

header {
    background-color: #373867;
    height: 116px;
    border-radius: 0px 0px 10px 10px;
}

#redesHeader {
    display: inline-block;
    width: 20%;
    height: 51px;
    width: 225px;
    float: right;
    margin-top: 32px;
}

.imgRedes {
    display: inline-block;
    width: 20%;
    height: auto;
}


/* SIDEBAR */

.sidebar {
    top: 90px;
    min-width: 220px;
    max-width: 275px;
    height: auto;
    width: 20%;
    background-color: #DFE4DE;
    border-radius: 0px 0px 10px 10px;    
    margin-left: 20px;
}

.sidebar>* {
    margin-left: 29px;
    padding: 1px;
}

.sidebar ul>li {
    font-size: 15px;
    text-decoration: underline;
    margin: 0px 18px 18px 7px;
}

.sidebar h3 {
    margin: 25px 18px 18px 7px;
    font-weight: bold;
    text-decoration: underline;
}

.sidebar p {
    margin: 0px 18px 18px 7px;
    font-size: 12px;
}

address {
    margin: 0px 18px 18px 7px;
    font-size: 12px;
}

