html {
    height: auto;
    min-height: 100%;
  }

* {
    color: #373867;
}

/* HEADER */

header {
    background-color: #373867;
    height: 116px;
    border-radius: 0px 0px 10px 10px;
}

#redesHeader {
    display: inline-block;
    width: 20%;
    height: 51px;
    width: 225px;
    float: right;
    margin-top: 32px;
}

.imgRedes {
    display: inline-block;
    width: 20%;
    height: auto;
}


/* SIDEBAR */

.sidebar {
    top: 90px;
    min-width: 220px;
    max-width: 275px;
    height: auto;
    width: 10%;
    background-color: #DFE4DE;
    border-radius: 0px 0px 10px 10px;    
    margin-left: 20px;
    float: left;
}

.sidebar>* {
    margin-left: 29px;
    padding: 1px;
}

.sidebar ul>li {
    font-size: 15px;
    text-decoration: underline;
    margin: 0px 20px 18px 0px;
}

.sidebar h3 {
    margin: 0px 20px 18px 0px;
    font-weight: bold;
    text-decoration: underline;
}

.sidebar p {
    margin: 0px 20px 18px 0px;    
    font-size: 12px;
}

address {
    margin: 0px 20px 18px 0px;    
    font-size: 12px;
}

/* MAIN */

/* SECTION ONE */

main {
    margin-left: 326px;
    margin-top: 0px;
}

#sectionOne {
    height: 450px;
}

#sectionOne div {
    float: left;
    width: 50%;
    height: 500px;
}

#sectionOne h1 {
    font-size: 40px;
    width: 100%;
    margin-top: 20px;
}

#sectionOne h3{
    width: 100%;
    font-size: 25px;
    margin-top: 20px;
}

#sectionOne p {
    width: 100%;
    font-size: 15px;
    margin-top: 60px;
}

#sectionOne span {
    font-weight: bold;
}

#sectionOne>img {
    float: right;
    width: 450px;
    margin-top: 20px;
    margin-right: 25px;
}

#sectionOne  {
    border-bottom: 1px solid #373867;
}

/* SECTION TWO */

#sectionTwo h2 {
    font-size: 30px;
    font-weight: bold;
    
}

#sectionTwo h5 {
    font-size: 18px;
    font-weight: bold;
}

.left {
    width: 50%;
    float: left;
}

.right {
    display: inline-block;
    width: 50%;
}

.hours {
    display: block;
    width: 40%;
}

.resources {
    display: block;
    width: 40%;
}

.reports {
    display: block;
    width: 40%;
}

.multiplesRoles {
    display: block;
    width: 40%;
}

#sectionTwo  {
    border-bottom: 1px solid #373867;
}

/* SECTION THREE SCROLL MENU */

#sectionThree h3 {
    font-size: 25px;
    font-weight: bold;
}

#sectionThree h5 {
    font-weight: bold;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu div {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
}
  
div.scrollmenu div:hover {
    background-color: #777;
}

#sectionThree  {
    border-bottom: 1px solid #373867;
}

/* SECTION FOURTH */

#sectionFourth h3 {
    font-size: 25px;
    font-weight: bold;
}

.NaEmConArea {
    display: inline-block;
    width: 40%;
}

.message {
    display: inline-block;
    width: 50%;
}

#sectionFourth  {
    border-bottom: 1px solid #373867;
}

/* SECTION FIVE */

#sectionFive {
    width: 100%;
}


#sectionFive h3 {
    font-size: 25px;
    font-weight: bold;
}

#sectionFive img {
    float: right;
    width: 40%;
    height: 150px;
}

.ourStoryOne {
    display: inline-block;
    width: 40%;
}

.ourStoryTwo {
    margin-top: 20px;
    width: 40%;
}

#sectionFive  {
    border-bottom: 1px solid #373867;
}

/* SECTION SIX */

#sectionSix {
    width: 100%;
}

.list_one {
    display: inline-block;
    width: 30%;
}

.list_two {
    display: inline-block;
    width: 30%;
}

.list_three {
    display: inline-block;
    width: 30%;
}

#sectionSix>h5 {
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

#sectionSix  {
    border-bottom: 3px solid #373867;
}



