
.sidebar {
    display: none;
}



@media screen and (min-width: 1024px) {
    .sidebar {
        display: block;
        min-width: 220px;
        max-width: 275px;
        height: auto;
        width: 10%;
        background-color: #DFE4DE;
        border-radius: 0px 0px 10px 10px;    
        margin-left: 20px;
        float: left;
        margin-left: 29px;
        padding: 10px;
    }

    .sidebar ul>li {
        font-size: 15px;
        text-decoration: underline;
        margin: 0px 20px 18px 0px;
    }

    .sidebar h3 {
        margin: 0px 20px 18px 0px;
        font-weight: bold;
        text-decoration: underline;
    }

    .sidebar p {
        margin: 0px 20px 18px 0px;    
        font-size: 12px;
    }

    address {
        margin: 0px 20px 18px 0px;    
        font-size: 12px;
    }

    main {
        margin-left: 326px;
        margin-top: 0px;
    }
}